$fuenteMenu: 'Work Sans', sans-serif;
$fuentePrincipal: 'Yeseva', sans-serif;
$fuenteParrafos: 'Work Sans', sans-serif;
$fuenteMenuPeso: 600;
$fuentePrincipalPeso: 400;
$fuentePrincipalBold: 700;
$claridad: #fffdf8;
$mediana: #faf5ec;
$profundidad: #08173e;
$dolor: #af2828;
$tamanoMenu: 80px;
$tamanoDashAl: 30vh;
$tamanoDashAn: 25vw;
$amarilloBase: #ecd06f;
$amarilloClaro: #f5ebc6;

// Tamaños Pantallas
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;
