:root {
  //Fuentes
  --fuenteTitulo: 'Unbounded', italic;
  --fuenteMenu: 'Nunito', sans-serif;
  --fuenteMenuPeso: 600;
  --fuentePrincipal: 'Lora', serif;
  --fuentePrincipalPeso: 400;
  --fuentePrincipalBold: 700;
  --fuenteParrafos: 'Lora', serif;

  //Tamaños
  --tamanoMenu: 80px;
  --tamanoDashAl: 30vh;
  --tamanoDashAn: 25vw;

  //Colores
  --verdeEsmeralda: #0c4d51;
  --verdeEsmeralda2: #0e5e62;
  --verdeEsmeralda3: #2d9b97;
  --verdeMenta: #49c5b6;

  --naranjaPlantaRodadora: #eab28c;
  --naranjaLino: #f4e9e1;

  // (Comentaario en archivo) -> // width: 81vw;

  --amarilloArena2: #ecd06f;
  --amarilloJengibre: #ffe485;
  --amarilloCrema: #fff0c2;
  --amarilloPetalo: #fffbf0;

  --rojoCerezo: #9e171f;
  --rojoRaspon: #d14836;
  --rojoOxido: #d86a45;

  //ColoresLindosJeann
  --claridad: #fffdf8;
  --mediana: #faf5ec;
  --profundidad: #08173e;
  --dolor: #af2828;
  --amarilloBase: #ecd06f;
  --amarilloClaro: #f5ebc6;
}

// Tamaños Pantallas 🖥️ 📺 📱
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;

//ColoresLindosJeann
$claridad: #fffdf8;
$mediana: #faf5ec;
$profundidad: #08173e;
$dolor: #af2828;
$amarilloBase: #ecd06f;
$amarilloClaro: #f5ebc6;
