:root {
  //Fuentes 📝📰📜
  --fuenteTitulo: 'Unbounded', italic;
  --fuenteMenu: 'Nunito', sans-serif;
  --fuenteMenuPeso: 700;
  --fuentePrincipal: 'Lora', serif;
  --fuentePrincipalPeso: 400;
  --fuentePrincipalBold: 700;
  --fuenteParrafos: 'Lora', serif;

  //Tamaños 🔎📐📏
  --tamanoMenu: 80px;
  --tamanoDashAl: 30vh;
  --tamanoDashAn: 25vw;

  //Colores 🎨🟢🔴
  --verdeClaro2: #f2f9f8;
  --verdeClaro: #d0f1ec;
  --verdeEsmeralda: #0c4d51;
  --verdeEsmeralda2: #0e5e62;
  --verdeEsmeralda3: #2d9b97;
  --verdeMenta: #49c5b6;
  --verdeResaltar: #0e5e621a;

  --naranjaPlantaRodadora: #eab28c;
  --naranjaLino: #f4e9e1;

  // (Comentario en archivo) -> // width: 81vw;

  --amarilloArena2: #ecd06f;
  --amarilloJengibre: #ffe485;
  --amarilloCrema: #fff0c2;
  --amarilloPetalo: #fffbf0;

  --rojoCerezo: #9e171f;
  --rojoRaspon: #d14836;
  --rojoOxido: #d86a45;

  //ColoresLindosJeann 🎨🟢🔴
  --claridad: #fffdf8;
  --mediana: #faf5ec;
  --profundidad: #08173e;
  --dolor: #af2828;
  --amarilloBase: #ecd06f;
  --amarilloClaro: #f5ebc6;
}

$altoEncabezado: 60px;

// Tamaños Pantallas 🖥️ 📺 📱
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;
$minPantallaGigante: 1920px;

//ColoresLindosJeann 🎨🟢🔴
$claridad: #fffdf8;
$mediana: #faf5ec;
$profundidad: #08173e;
$dolor: #af2828;
$amarilloBase: #ecd06f;
$amarilloClaro: #f5ebc6;
