@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: "Agraham";
  src: local("Agraham"),
  url(~assets/fuentes/Agraham.ttf) format("truetype");
}
@font-face {
  font-family: "Yeseva";
  src: local("Yeseva"),
  url(~assets/fuentes/Yeseva.ttf) format("truetype");
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
time {
  margin: 0;
}

h1 {
  font-family: 'Agraham';
}

h2 {
  font-family: $fuenteSec;
  color: $claridad;
}

p {
  font-family: $fuenteParrafos;
}

h4 {

}

a{
  font-family: $fuenteMenu;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  font-weight: $fuentePrincipalPeso;
}

a,
a:link {
  text-decoration: none;
}

::selection {
  background-color: color.scale($claridad, $lightness: 50%);
  color: black;
}


.contenedor {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: absolute;
  overflow: auto;
  height: 100vh;
  padding-top: 100px;
  top: 0;
  .centrar-contenido{
    width: 800px;
    flex-direction: column;
  }
}

.texto-claro {
  color: $claridad;
}