@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Yeseva';
  src: local('Yeseva'), url(@/assets/fuentes/Yeseva.ttf) format('truetype');
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-x: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
time {
  margin: 0;
}

h1 {
  font-family: $fuentePrincipal;
}

h2 {
  font-family: $fuenteMenu;
  color: $profundidad;
}

p {
  font-family: $fuenteParrafos;
  letter-spacing: 0px;
}

a {
  font-family: $fuenteMenu;
  font-weight: 400;
  // letter-spacing: 3px;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video {
  width: 100%;
  -o-object-position: center top;
  object-position: center top;
  height: auto;
}

body {
  font-weight: $fuentePrincipalPeso;
}

a,
a:link {
  text-decoration: none;
  color: $profundidad;

  &:hover {
    transition: 0.25s ease-in-out;
  }
}

::selection {
  background-color: color.scale($profundidad, $lightness: 80%);
  color: $claridad;
}

.texto-claro {
  color: $claridad;
}

main {
  min-height: 90vh;
}
