@use 'sass:color';

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-x: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
time {
  margin: 0;
}

h1 {
  font-family: var(--fuentePrincipal);
}

h2 {
  font-family:var(--fuenteMenu);
  color:var(--profundidad);
}

p {
  font-family: var(--fuenteParrafos);
  letter-spacing: 0px;
}

a {
  font-family: var(--fuentePrincipal);
  font-weight: 400;
  // letter-spacing: 3px;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video {
  width: 100%;
  height: auto;
}

body {
  font-weight: var(--fuentePrincipalPeso);
}

a,
a:link {
  text-decoration: none;
  color:var(--profundidad);

  &:hover {
    transition: 0.2s ease-out;
  }
}

::selection {
  background-color: color.scale($profundidad, $lightness: 80%);
  color: var(--claridad);
}

.texto-claro {
  color:var(--claridad);
}

main {
  min-height: 90vh;
}
